<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <%- include('./partials/header.ejs'); %>
    <h1>Ngọc Hiền </h1>
    <% words.forEach(w =>{ 
        const {en ,vn} = w;   
    %>
      <%- include('./partials/row.ejs', w); %> 
      
    <% }); %>
     <%- '<p>3</p>' %>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>
<script src="reload/reload.js" ></script>